<!-- extend base layout -->
{% extends "base.html" %}

{%block content%}

<h1> Exam </h1>
<table class ="table table-striped table-hover">
  <tr>
    <th>
      <p>Last Name, First</p>
        <!-- Also include thumbnail, flagged icon -->
    </th>
    <th>
      <p> UUID </p>
    </th>
    <th>
      <p> Date </p>
    </th>    
  </tr>

  <tr>
    <td>   
      <p> {{exam.lastName}}, {{exam.firstName}} </p>
    </td>
    <td>
      <p> {{exam.uuid}} </p>
    </td>
    <td>
      <p> {{exam.date}} </p>
    </td>
  </tr>
</table>

<h1> Image </h1>
<table class ="table table-striped table-hover">
  <tr>
    <th>Technician </p>
        <!-- Also include thumbnail, flagged icon -->
    </th>
    <th>
      <p> Eye </p>
    </th>
    <th>
      <p> Fixation Light </p>
    </th>    
    <th>
      <p> UUID </p>
    </th>  
  </tr>

  <tr>
    <td>   
      <p> {{eyeImage.technician}} </p>
    </td>
    <td>
      <p> {{eyeImage.eye}} </p>
    </td>
    <td>
      <p> {{eyeImage.fixationLight}} </p>
    </td>
    <td>
      <p> {{eyeImage.uuid}} </p>
    </td>    
  </tr>
</table>

<div class="row">
  <img src="{{eyeImage.imageURL}}" 
    style="max-width:100%;height:auto:width:auto;" /> 
  <hr>
</div>



{%endblock%}