<!-- extend base layout -->
{% extends "base.html" %}

{%block content%}
<h1> {{exam.firstName}} {{exam.lastName}}</h1>
<h2> {{exam["mrn"]}} </h2>
<h2> {{exam["date"]}} </h2>

<table class ="table table-striped table-hover">
  <tr>
    <th>
      <p>Last Name, First</p>
        <!-- Also include thumbnail, flagged icon -->
    </th>
    <th>
      <p> MRN </p>
    </th>
    <th>
      <p> Exam Date </p>
    </th>   
  </tr>

  <tr>
    <td>   
      <p> {{exam["lastName"]}}, {{exam["firstName"]}} </p>
    </td>
    <td>
      <p> {{exam["mrn"]}} </p>
    </td>
    <td>
      <p> {{exam["date"]}} </p>
    </td>
  </tr>

<div class="row">

  {% for eyeImage in exam.eyeImages %}

    {%set url_param = ei["uuid"]|string %}
    {%set url_path = request.path+"/"+url_param %}

    <div class="col-lg-2 col-sm-3 col-xs-4">
        <a href="{{url_path}}">
          <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
        </a>
    </div>

    <div class="col-lg-2 col-sm-3 col-xs-4">
      <a href="{{url_path}}">
        <img src="{{eyeImage.thumbnail}}" class="thumbnail img-responsive">
      </a>
    </div>

  {% endfor %}

  <table>

  {% for ei  in exam.eyeImages %}

    {%set url_param = ei["uuid"]|string %}
    {%set url_path = request.path+"/"+url_param %}


    {% if counter%5 == 0 %}
    <tr>
      <td>
        <div id = ei.id>

          {%set url_param = exam["uuid"]|string %}
          {%set url_path = request.path+"/"+url_param %}

          <a href={{url_path}}>
            <img src = ei.thumbnail class="img-thumbnail" alt="image {{ei.id}}" height = "250px" width = "250px">
          </a>

        </div>
      </td>


    {% elif counter%5 == 4 %}

      <td>
        <div id = {{element.id}}
          
          <h2> Image #{{element.id}} </h2>

          <a href={{url_string}}>
            <img src = {{element.url}} class="img-thumbnail" alt="image{{element.id}}" height = "250px" width = "250px">
          </a>

        </div>
      </td>
    </tr>


    {% else %}

      <td>
        <div id = {{element.id}}
          
          <h2> Image #{{element.id}} </h2>

          <a href={{url_string}}>
            <img src = {{element.url}} class="img-thumbnail" alt="image{{element.id}}" height = "250px" width = "250px">
          </a>

        </div>
      </td>

    {% endif %}

    {% set counter = counter +1 %}

  {% endfor %}

  <table>


{%endblock%}